

.toys-form {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    margin-bottom: 2em;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
  
    input[type="text"],
    input[type="date"],
    textarea,
    select,
    input[type="submit"],
    input[type="reset"] {
      width: 100%;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #ccc;
      color: rgb(4, 1, 1);
      /* Moved here for shared properties, adjust if necessary */
    }
  
    input[type="submit"],
    input[type="reset"] {
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
      text-align: center;
    }
  
    .form-btns {
      display: flex;
      grid-column: -1/-2;
    }
  
    input[type="reset"] {
      background-color: red;
      /* flex: 1; */
    }
  
    input[type="submit"] {
      background-color: green;
    }
  
    input[type="submit"]:hover {
      background-color: #45a049;
    }
  }



  @media (min-width: 200px) {
    .toys-form {
      grid-template-columns: 1fr 2fr;
      label {
        grid-column: 1/2;
      }
      input {
        grid-column: 2/3;
      }
      text-area {
        grid-column: 2/3;
      }
    }
  }